/* Normal text colors*/
h1{
    color : darkblue
}

h2 {
    color : teal
}

p{
    color : gray
}

footer{
    color : navy
}

/*Background colors*/

body{
    background-color: aliceblue;
}

footer {
    background-color: beige;
}

h1{
    background-color: blanchedalmond;
}

section{
    background-color: aquamarine;
}

/*New fonts*/

title {
    font-family: 'Courier New';
}

h2{
    font-size: large;
}

p{
    font-size: large;
}

footer{
    font-weight: bold;
}

/*Design Borders */
section {
    padding : 50px;
    margin : 50px;
    background-color: aquamarine;
    border : 5px solid black;
    border-radius: 20px;
}

section {
    width : 1000px;
    height : 200px;
    max-width: 1200px;

}